
// Variables
$light: #fff;
$primary-color: #28ABE3;
$black: #000;
$primary-font: 'KoHo','Source Sans Pro', sans-serif;
$icon-font: 'themefisher-font';
$secondary-font:  'KoHo','Catamaran', sans-serif;